<html xmlns:th="http://www.thymeleaf.org">
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        function setGetParamsForm(){
            app.params.minPrice = $("#minPrice").val();
            app.params.maxPrice = $("#maxPrice").val();
            app.params.isOverStocked = $("#isOverstocked").is(":checked");

            if($('[name="service"]:checked').length == 2){
                app.params.firstMarket = $('[name="service"]:checked')[0].value;
                app.params.secondMarket = $('[name="service"]:checked')[1].value;
            }

            app.$children[0].getRequest();
        }

        function copy(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }

        $(document).ready(function(){
            const urlParams = new URLSearchParams(window.location.search)

            $("#firstServiceMinCount").val(app.params.firstServiceMinCount);
            $("#firstServiceMaxCount").val(app.params.firstServiceMaxCount);
            $("#secondServiceMinCount").val(app.params.secondServiceMinCount);
            $("#secondServiceMaxCount").val(app.params.secondServiceMaxCount);
            $("#firstToSecondMinPerCent").val(app.params.firstToSecondMinPerCent);
            $("#firstToSecondMaxPerCent").val(app.params.firstToSecondMaxPerCent);
            $("#secondToFirstMinPerCent").val(app.params.secondToFirstMinPerCent);
            $("#secondToFirstMaxPerCent").val(app.params.secondToFirstMaxPerCent);
            $("#itemName").val(app.params.itemName);
            $("#minPrice").val(app.params.minPrice);
            $("#maxPrice").val(app.params.maxPrice);
        })

        $(document).ready(function () {
            $('[name="service"]').click(function(){
                var checkedCount = $('[name="service"]:checked').length;
                if(checkedCount == 2){
                    $('[name="service"]:not(:checked)').each(function(){
                        $(this).attr("disabled", true);
                    })
                } else{
                    $('[name="service"]:not(:checked)').each(function(){
                        $(this).attr("disabled", false);
                    })
                }
            })
        });
    </script>

</head>
<body>

<header th:insert="blocks/headertrade :: headertrade"></header>

<!-- PICKER -->
<div class="picker">
    <div class="container-fluid bg-secondary p-3 text-white">
        <form action="">
            <div class="row justify-content-center align-items-center">
                <div class="col-3 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="minPrice" class="nowrap">MIN. PRICE</label>
                                <input type="number" class="form-control text-center border border-secondary mt-n1" id="minPrice" placeholder="USD" name="minPrice">
                            </div>
                            <div class="col">
                                <label for="maxPrice" class="nowrap">MAX. PRICE</label>
                                <input type="number" class="form-control text-center border border-secondary mt-n1" id="maxPrice" placeholder="USD" name="maxPrice">
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isOverstocked" value="true" name="isOverStocked">
                        <label class="form-check-label unselectable" for="isOverstocked">Disable overstock</label>
                    </div>
                </div>
                <div class="container col">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="lootfarm">LOOT.FARM
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="bitskins">BITSKINS
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="tradeit">TRADEIT
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="swapgg">SWAPGG
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="buff163">BUFF163
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="csdeals">CSDEALS
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="csgo500">CSGO500
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label unselectable">
                                    <input class="form-check-input" name="service" type="checkbox" value="csgoatse">CSGOATSE
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-secondary pt-3">
                <div class="row justify-content-center align-items-center">
                    <a class="btn btn-dark mt-n2" onclick="setGetParamsForm()">COMPARE</a>
                </div>
            </div>
        </form>
    </div>
</div>

<!--TABLE-->
<!-- DELETE d-none ONCLICK -->
<div class="container-fluid bg-dark p-3 text-white min-vh-100">
    <div class="compare">
        <div class="card bg-secondary mb-3">
            <div class="card-header">
                <div class="row justify-content-center align-items-center">
                    <span th:text="${firstService}"/>&nbsp;&&nbsp;<span th:text="${secondService}"/>&nbsp;COMPARE
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-dark">
                    <!--HEAD-->
                    <thead>
                    <tr>
                        <th scope="col">
                            <div>
                                <a class="btn btn-outline-secondary btn-sm" onclick="app.params.sortOrder = 'none'; app.$children[0].getRequest();">
                                    <span>
                                        NAME
                                    </span>
                                </a>
                            </div>
                            <div class="container">
                                <div class="row mt-1">
                                    <input id="itemName" type="text" class="form-control form-control-sm h-75 col-11 col-xl-11 bg-light border border-dark text-center" placeholder="ITEM NAME" onchange="app.params.itemName = $(this).val(); app.$children[0].getRequest();">
                                </div>
                            </div>
                        </th>
                        <th class="text-center" scope="col"/>
                        <div>
                            <a class="btn btn-outline-secondary btn-sm" onclick="app.params.sortOrder != 'first_price_asc' ? app.params.sortOrder = 'first_price_asc' : app.params.sortOrder = 'first_price_desc'; app.$children[0].getRequest();">
                                <span th:text="${firstService}"/>
                            </a>
                        </div>
                        <div class="row mt-1 d-flex justify-content-center">
                            <input id="firstServiceMinCount" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 mr-1 bg-light border border-dark text-center" placeholder="FROM" value="" onchange="app.params.firstServiceMinCount = $(this).val(); app.$children[0].getRequest();">
                            <input id="firstServiceMaxCount" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 ml-1 bg-light border border-dark text-center" placeholder="TO" onchange="app.params.firstServiceMaxCount = $(this).val(); app.$children[0].getRequest();">
                        </div>
                        </th>
                        <th class="text-center" scope="col">
                            <div>
                                <a class="btn btn-outline-secondary btn-sm" onclick="app.params.sortOrder != 'second_price_asc' ? app.params.sortOrder = 'second_price_asc' : app.params.sortOrder = 'second_price_desc'; app.$children[0].getRequest();">
                                    <span th:text="${secondService}"/>
                                </a>
                            </div>
                            <div class="row mt-1 d-flex justify-content-center">
                                <input id="secondServiceMinCount" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 mr-1 bg-light border border-dark text-center" placeholder="FROM" onchange="app.params.secondServiceMinCount = $(this).val(); app.$children[0].getRequest();">
                                <input id="secondServiceMaxCount" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 ml-1 bg-light border border-dark text-center" placeholder="TO" onchange="app.params.secondServiceMaxCount = $(this).val(); app.$children[0].getRequest();">
                            </div>
                        </th>
                        <th class="text-center" scope="col">

                            <div>
                                <a class="btn btn-outline-secondary btn-sm" onclick="app.params.sortOrder = 'first_second'; app.$children[0].getRequest();">
                                    <span th:text="${firstService}"/>
                                    &nbsp;&#8594;&nbsp;
                                    <span th:text="${secondService}"/>
                                </a>
                            </div>
                            <div class="row mt-1 d-flex justify-content-center">
                                <input id="firstToSecondMinPerCent" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 mr-1 bg-light border border-dark text-center" placeholder="FROM" onchange="app.params.firstToSecondMinPerCent = $(this).val(); app.$children[0].getRequest();">
                                <input id="firstToSecondMaxPerCent" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 ml-1 bg-light border border-dark text-center" placeholder="TO" onchange="app.params.firstToSecondMaxPerCent = $(this).val(); app.$children[0].getRequest();">
                            </div>
                        </th>
                        <th class="text-center" scope="col">
                            <div>
                                <a class="btn btn-outline-secondary btn-sm" onclick="app.params.sortOrder = 'second_first'; app.$children[0].getRequest();">
                                    <span th:text="${secondService}"/>
                                    &nbsp;&#8594;&nbsp;
                                    <span th:text="${firstService}"/>
                                </a>
                            </div>
                            <div class="row mt-1 d-flex justify-content-center">
                                <input id="secondToFirstMinPerCent" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 mr-1 bg-light border border-dark text-center" placeholder="FROM" onchange="app.params.secondToFirstMinPerCent = $(this).val(); app.$children[0].getRequest();">
                                <input id="secondToFirstMaxPerCent" type="number" class="form-control form-control-sm h-75 col-4 col-xl-3 ml-1 bg-light border border-dark text-center" placeholder="TO" onchange="app.params.secondToFirstMaxPerCent = $(this).val(); app.$children[0].getRequest();">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="items"/>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>

<!-- JS, Popper.js, and jQuery -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>